<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Sender</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
</head>
<body>
<div class="container">
    <div class="email-sender">
        <input type="email" id="recipient" placeholder="Recipient" name="recipient" required>
        <input type="text" id="subject" placeholder="Subject" required>
        <textarea name="" id="" cols="30" rows="10"></textarea required>
        <input type="button" value="send message">
    </div>
</div>
</body>
</html>