<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Sender</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css">
</head>
<body>
<div class="container">
    <form class="email-sender" method="post" action="{% url 'emailApp:sendemail' %}">
        {% csrf_token %}
        <div class="address">
            <input type="email" id="sender" placeholder="Sender" name="sender" required>
            <input type="email" id="recipient" placeholder="Recipient" name="recipient" required>
        </div>

        <hr>
        <input type="text" id="subject" placeholder="Subject" name="subject" required>
        <textarea name="content" id="" cols="30" rows="10" required></textarea>
        <input type="submit" value="send message">
    </form>
</div>
</body>
</html>